{% extends 'base.html' %}

{% block page_title %}💸&nbsp;&nbsp;bucksamonth 📅{% endblock page_title %}

{% block content %}



{% include 'nav.html' %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
	<h2>Update your bucksamonth account information</h2>
<form method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-success" type="submit">save</button> - or -
	<a class="btn btn-danger" href="{% url 'accounts:profile' %}">cancel</a>
</form>
</div>
</div>
{% endblock content %}
