{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<div class="row">
<div class="col-md-6 col-md-offset-3">
<h2>login to your bucksamonth account, or <a href="{% url 'accounts:register' %}">sign up</a> for a new account</h2>
<br>

{% if authentication_form.errors %}
<p>your username and password didn't match. please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<!-- <p>{{ authentication_form.username }}</p>
<p>{{ authentication_form.password }}</p> -->


<!-- <form method="post" action="{% url 'accounts:login' %}">
{% csrf_token %}
<p>{{ authentication_form }}</p>


<input class="btn btn-success" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<br />

<br />
<br /> -->

<form method="POST" action=".">
{% csrf_token %}
<p>{{ form.username }}</p>
<p>{{ form.password }}</p>
<input type="hidden" name="next" value="{{ request.GET.next }}" />
<input class="btn btn-success" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<br />
<p><a href="{% url 'accounts:reset_password' %}">forgot your password?</a></p>

</div>
</div>
{% endblock %}
