{% extends "base.html" %}

{% block content %}

{% include 'nav.html' %}

<div class="container">

<h2>Login to your bucksamonth account</h2>
<br>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'accounts:login' %}">
{% csrf_token %}
<p>{{ form.username }}</p>
<p>{{ form.password }}</p>

<input class="btn btn-success" type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}