{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}
<div class="container">
<div class="row">
<div class="col-md-8">

<h1>{{ user.first_name }} {{ user.userprofile.emoji }}</h1>

<br>
<p>{{ user.userprofile.twitter }}</p>
</div>

<div class="col-md-4">
<div style='text-align:right;' class="row">
<a type="link" class='btn btn-default' href="{% url 'accounts:edit' %}">edit profile</a>
<a class="btn btn-info" href="{% url 'accounts:edit' %}">personalize</a>
<a class="btn btn-success" classhref="{% url 'accounts:edit' %}">share</a>
<a class="btn btn-success" href="{% url 'accounts:add_subscription' %}">add new</a>
</div>
</div>
</div>
</div>

<div class="container">

<p></p>
<p>{{ user.userprofile.description }}</p>


<h3>Hey {{ user.first_name }}, you are spending {{ bucksamonth | floatformat }} bucks a month. </h3>

<h4>here's the breakdown:</h4>

<table style="text-align:center;" class="table">
	<tr>
		<td><strong>service</strong></td>

		<td style="text-align:center;"><strong>🙃&nbsp;&nbsp;emoji&nbsp;🙂</strong></td>

		<td style="text-align:center;"><strong>💸&nbsp;&nbsp;bucksamonth 📅</strong></td>

		<td style="text-align:center;"><strong>start date&nbsp;🗓</strong></td>

		<td><strong>💳&nbsp;&nbsp;nickname</strong></td>

		<td><strong>edit</strong></td>

	</tr>
	{% for item in subscriptions %}
	<tr>

		<td><a href="{{ item.service.get_absolute_url }}">{{ item.service }}</a></td>
		<td style="text-align:center;">{{ item.service.emoji }}</td>
		<td style="text-align:center;">{{ item.bucksamonth | floatformat }}</td>
		<td style="text-align:center;">{{ item.date_created | date:"d-m-y"  }}</td>
		<td>{{ item.cc_nickname }}</td>
		<td style="text-align:center;"><a href="{% url 'accounts:subscription_update' pk=item.id %}">🔏</a>️</td>
	</tr>
	{% endfor %}
	<tr>
		<td><a href="{% url 'accounts:add_subscription' %}">➕ new</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">🤔 💭 ❓</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">💵</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">today 📆</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">🔥 💳 🔥</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">🔏</a></td>

	</tr>
</table>
<hr>
<h4>Your wishlist ⭐️</h4>

<table style="text-align:center;" class="table">
	<tr>
		<td><strong>service</strong></td>

		<td style="text-align:center;"><strong>🙃&nbsp;&nbsp;emoji&nbsp;🙂</strong></td>

		<td style="text-align:center;"><strong>💸&nbsp;&nbsp;bucksamonth 📅</strong></td>

		<td style="text-align:center;"><strong>start date&nbsp;🗓</strong></td>

		<td><strong>💳&nbsp;&nbsp;nickname</strong></td>

		<td><strong>edit</strong></td>

	</tr>
	{% for item in wishlist %}
	<tr>

		<td><a href="{{ item.service.get_absolute_url }}">{{ item.service }}</a></td>
		<td style="text-align:center;">{{ item.service.emoji }}</td>
		<td style="text-align:center;">{{ item.bucksamonth | floatformat }}</td>
		<td style="text-align:center;">{{ item.date_created | date:"d-m-y"  }}</td>
		<td>{{ item.cc_nickname }}</td>
		<td style="text-align:center;"><a href="{% url 'accounts:subscription_update' pk=item.id %}">🔏</a>️</td>
	</tr>
	{% endfor %}

</table>




</div>

<div class="container">

</div>


{% endblock content %}