{% extends 'base.html' %}
{% load urlify %}




{% block content %}

{% include 'nav.html' %}
<div class="container">
<div class="row">
<div class="col-md-6 well">

<p style="font-size:4.5em; text-align:center;">{{ user.userprofile.emoji }}</p>
<p style="font-size:2em; text-align:center;">{{ user.username }}</p>
<blockquote>
<h4 class="text-muted">{{ user.userprofile.description }}</h4>
</blockquote>
</div>

<div class="col-md-6">
<div style='text-align:center;'>
<div class='col-xs-12 button-wrapper'>
<a type="link" class='btn btn-default' href="{% url 'accounts:edit' %}">edit profile ✏️</a>
<a type="link" class="btn btn-info" href="{% url 'accounts:update_personal_info' %}">personalize ⭐️</a>
<a type="link" class="btn btn-info clearfix" href="{% url 'accounts:inbox' %}">messages 📬</a>
<a class="btn btn-success clearfix" href="#share" data-toggle="modal" data-target="#myModal-share">share 📤</a>
<!-- share link modal -->

{% include 'accounts/share_links.html' %}

<!-- <a class="btn btn-success" href="{% url 'accounts:add_subscription' %}">add new ➕</a> -->
<a class="btn btn-default" href="#">settings ⚙</a>
</div>
<hr>


<div class="col-md-6">
	<h4>bucksamonth activity</h4>
	<p><strong>{{ subscriptions.all.count }}</strong> subscriptions</p>
	<p>spending <strong>{{ bucksamonth | floatformat:"0" }}</strong> bucks a month</p>
	<p>member since 🗓 March 8, 2017</p>
	<p>account: <strong>basic</strong></p>
	<p><a href="#">👑&nbsp;&nbsp;get bucksamonth premium 💰</a></p>
</div>
<div class="col-md-6">

<h4>social links</h4>
<p>facebook 👩🏻📖&nbsp;&nbsp;<a href="https://facebook.com/">facebook.com</a></p>
<p>twitter 🐦🗣&nbsp;&nbsp;<a href="https://twitter.com/{{ user.userprofile.twitter }}">{{ user.userprofile.twitter }}</a></p>
<p>linkedin 🔗💼 &nbsp;&nbsp;<a href="#">linkedin.com/profile</a></p>
<p>website 🌎🕸 &nbsp;&nbsp;<a href="#">website.com</a></p>
<p><a href='#'>📍&nbsp;&nbsp;Washington, D.C. 🗺</a></p>
</div>


</div>
</div>
</div>
</div>

<hr>


<div class="container">




	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs navbar-right" role="tablist">
	    <li role="presentation" class="active"><a href="#subscriptions" aria-controls="subscriptions" role="tab" data-toggle="tab"><span class="badge">{{ subscriptions.count }}</span> subscriptions 📊</a></li>
	    <li role="presentation"><a href="#wishlist" aria-controls="wishlist" role="tab" data-toggle="tab"><span class="badge">{{ wishlist.count }}</span> wishlist ⭐️</a></li>
	    <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab"><span class="badge">{{ comments.count }}</span> comments 💬</a></li>
			<li role="presentation"><a href="#following" aria-controls="following" role="tab" data-toggle="tab"><span class="badge">{{ follower_count }}</span> following 👀</a></li>

	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="subscriptions">
<br />
				<!-- <br /><br /><br /><br /><hr>



				{% for item in subscriptions %}

				<div class="thumbnail">
					<div style="text-align:center;
    align-items: center;" class="row">


						<div style="display: inline-block;
    vertical-align: middle;" class="col-md-4">

									<a style="font-size:3em;" href="{% url 'services:service_detail' service_slug=item.service.service_slug %}">{{ item.service.emoji }}</a><br />

								<a style="font-size:2em;" href="{% url 'services:service_detail' service_slug=item.service.service_slug %}">{{ item.service }}</a>

									{% if item.private %}<a data-toggle="tooltip" title="PRIVATE">🙈</a>
									{% endif %}

						</div>
						<div class="col-md-8">
				<div style="text-align: center;" class="col-xs-3">
					<span style="font-size:1.5em">💸📅</span><br />
									<strong>${{ item.bucksamonth | floatformat:"0" }}</strong>

				</div>
				<div class="col-xs-3">
					<span style="font-size:1.5em">▶️🗓</span><br />
					<strong>{{ item.date_created | date:"M d, Y"  }}</strong>

				</div>
				<div class="col-xs-3">
					<span style="font-size:1.5em">💳</span><br />
					<strong>{{ item.cc_nickname }}</strong>
				</div>
				<div class="col-xs-3">
					<a href="{% url 'accounts:subscription_update' pk=item.id %}"><span style="font-size:1.5em;">🔏</span><br />
					edit</a>️
				</div>
</div>
</div>
</div>
				{% endfor %}








				<br /><br /><br /><br /> -->
<h4>{{ user.username }}, you are spending {{ bucksamonth | floatformat:"0" }} bucks a month 💸 </h4>
<br />
				<table style="text-align:center;" class="table">
					<tr style="border-top: none !important;">
						<td class="table-top"><strong>service</strong></td>



						<td class="table-top" style="text-align:center;"><strong>💸</strong></td>

						<td class="table-top" style="text-align:center;"><strong><a data-toggle="tooltip" title="start date">🗓</a></strong></td>

						<td class="table-top"><strong>cc&nbsp;💳</strong></td>

						<td class="table-top"><strong>🔏</strong></td>

					</tr>
					{% for item in subscriptions %}
					<tr>
						<td><a href="{% url 'services:service_detail' service_slug=item.service.service_slug %}"><span style="font-size:1.5em;">{{ item.service.emoji }}</span><br />{{ item.service }}</a>{% if item.private %} <a data-toggle="tooltip" title="private">🙈</a>{% endif %}</td>
						<td style="text-align:center;">{{ item.bucksamonth | floatformat:"0" }}</td>
						<td style="text-align:center;">{{ item.date_created | date:"d-m-y"  }}</td>
						<td>{{ item.cc_nickname }}</td>
						<td style="text-align:center;"><a href="{% url 'accounts:subscription_update' pk=item.id %}">🔏</a>️</td>
					</tr>
					{% endfor %}
					<tr>
						<td><a href="{% url 'accounts:add_subscription' %}">➕ new</a></td>
						<td><a href="{% url 'accounts:add_subscription' %}">💵</a></td>
						<td><a href="{% url 'accounts:add_subscription' %}">📆</a></td>
						<td><a href="{% url 'accounts:add_subscription' %}">🔥</a></td>
						<td><a href="{% url 'accounts:add_subscription' %}">🔏</a></td>

					</tr>
				</table>





			</div>
	    <div role="tabpanel" class="tab-pane" id="wishlist">
				<br />
<h4>here's your wishlist 🌠 </h4>
<br />
				<table style="text-align:center;" class="table">
					<tr>
						<td class="table-top" ><strong>service</strong></td>

						<td class="table-top" style="text-align:center;"><strong>🙃&nbsp;&nbsp;emoji&nbsp;🙂</strong></td>

						<td class="table-top" style="text-align:center;"><strong>💸&nbsp;&nbsp;bucksamonth 📅</strong></td>

						<td class="table-top" style="text-align:center;"><strong>start date&nbsp;🗓</strong></td>

						<td class="table-top"><strong>💳&nbsp;&nbsp;nickname</strong></td>

						<td class="table-top"><strong>edit</strong></td>

					</tr>
					{% for item in wishlist %}
					<tr>

						<td><a href="{{ item.service.get_absolute_url }}">{{ item.service }}</a></td>
						<td style="text-align:center;">{{ item.service.emoji }}</td>
						<td style="text-align:center;">{{ item.bucksamonth | floatformat:"0" }}</td>
						<td style="text-align:center;">{{ item.date_created | date:"d-m-y"  }}</td>
						<td>{{ item.cc_nickname }}</td>
						<td style="text-align:center;"><a href="{% url 'accounts:subscription_update' pk=item.id %}">🔏</a>️</td>
					</tr>
					{% endfor %}
				</table>

			</div>
	    <div role="tabpanel" class="tab-pane" id="comments">

								<br />
				<h4>{% if comments.all.count == 0 %}

				you haven't made any comments yet
					{% elif comments.all.count == 1 %}

				here's the one comment you have made on bucksamonth

					{% elif comments.all.count > 1 %}

					here are all of the {{ comments.all.count }} comments you have made on bucksamonth 💬{% endif %}</h4>
				<br />

				{% for comment in comments %}

				<!-- show comments dependning on what kind of thing they are  -->
				<blockquote>
				<p>a comment on <span style="font-size:1em;"><a class="link-fancy" href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }} | {{ comment.content_object.emoji}}</a></span></p>
				<p style="font-size:2em;">{{ comment.emoji }}</p>
				<p>{{comment.content | linebreaks }}</p>
				<small> on {{ comment.content_object.timestamp }} | <a href="#">delete 🗑</a>&nbsp;&nbsp;</small>
				</blockquote>

				{% endfor %}

			</div>
	    <div role="tabpanel" class="tab-pane" id="following">
				<br />
				<h4>you are following {{ follower_count }} user{{ follower_count | pluralize }}</h4>
				<br />
					{% for friend_ in friends %}
					{% cycle '<div class="row">' '' ''  %}
						<div style="text-align:center; text-decoration:none !important" class="col-md-4">
					<p style="font-size:2em; text-align:center; text-decoration:none !important;"><a style="text-decoration:none" href="{% url 'users:view_profile' username=friend_.user.username %}">{{ friend_.emoji }}<br />{{ friend_ }}</a></p>
					</div>
					{% cycle '' '' '</div>' %}
					{% endfor %}
					<br /><br /><br />
			</div>


	  </div>

</div>


<!-- <div class="container">




<h3>Hey {{ user.first_name }}, you are spending {{ bucksamonth | floatformat:"0" }} bucks a month. </h3>

<h4>here's the breakdown:</h4>

<table style="text-align:center;" class="table">
	<tr>
		<td><strong>service</strong></td>

		<td style="text-align:center;"><strong>🙃&nbsp;&nbsp;emoji&nbsp;🙂</strong></td>

		<td style="text-align:center;"><strong>💸&nbsp;&nbsp;bucksamonth 📅</strong></td>

		<td style="text-align:center;"><strong>start date&nbsp;🗓</strong></td>

		<td><strong>💳&nbsp;&nbsp;nickname</strong></td>

		<td><strong>edit</strong></td>

	</tr>
	{% for item in subscriptions %}
	<tr>
		<td><a href="{{ item.service.get_absolute_url }}">{{ item.service }}</a>{% if item.private %} <a data-toggle="tooltip" title="PRIVATE">🙈</a>{% endif %}</td>
		<td style="text-align:center;">{{ item.service.emoji }}</td>
		<td style="text-align:center;">{{ item.bucksamonth | floatformat:"0" }}</td>
		<td style="text-align:center;">{{ item.date_created | date:"d-m-y"  }}</td>
		<td>{{ item.cc_nickname }}</td>
		<td style="text-align:center;"><a href="{% url 'accounts:subscription_update' pk=item.id %}">🔏</a>️</td>
	</tr>
	{% endfor %}
	<tr>
		<td><a href="{% url 'accounts:add_subscription' %}">➕ new</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">🤔 💭 ❓</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">💵</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">today 📆</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">🔥 💳 🔥</a></td>
		<td><a href="{% url 'accounts:add_subscription' %}">🔏</a></td>

	</tr>
</table>
<hr>
<h4>Your wishlist ⭐️</h4>

<table style="text-align:center;" class="table">
	<tr>
		<td><strong>service</strong></td>

		<td style="text-align:center;"><strong>🙃&nbsp;&nbsp;emoji&nbsp;🙂</strong></td>

		<td style="text-align:center;"><strong>💸&nbsp;&nbsp;bucksamonth 📅</strong></td>

		<td style="text-align:center;"><strong>start date&nbsp;🗓</strong></td>

		<td><strong>💳&nbsp;&nbsp;nickname</strong></td>

		<td><strong>edit</strong></td>

	</tr>
	{% for item in wishlist %}
	<tr>

		<td><a href="{{ item.service.get_absolute_url }}">{{ item.service }}</a></td>
		<td style="text-align:center;">{{ item.service.emoji }}</td>
		<td style="text-align:center;">{{ item.bucksamonth | floatformat:"0" }}</td>
		<td style="text-align:center;">{{ item.date_created | date:"d-m-y"  }}</td>
		<td>{{ item.cc_nickname }}</td>
		<td style="text-align:center;"><a href="{% url 'accounts:subscription_update' pk=item.id %}">🔏</a>️</td>
	</tr>
	{% endfor %}
</table>
	<h4>Recent Comments 💬</h4>
	<br />
	{% for comment in comments %}




	{% endfor %}






</div> -->




{% endblock content %}
