{% extends 'base.html' %}

{% block page_title %}💸&nbsp;&nbsp;bucksamonth 📅{% endblock page_title %}


{% block content %}

{% include 'nav.html' %}
<div class="col-md-8 col-md-offset-2">
	<h2 style="text-align:center;">📬<br />password reset email sent</h2>
<p>
we have emailed you instructions for resetting your password. you should receive them shortly if an account exists with the email you entered.

if you do not receive an email, please make sure you have entered the address you registered with, and check your spam folder. thanks!
</p>
</div>

{% endblock %}
