{% extends 'base.html' %}

{% block page_title %}💸&nbsp;&nbsp;bucksamonth 📅{% endblock page_title %}

<script>
{% block jquery %}
	// $(".reset-form").addClass('form-control')
{% endblock %}
</script>

{% block content %}

{% include 'nav.html' %}
<div class="col-md-8 col-md-offset-2">
	<h2>password reset</h2>
	<br>
	<form class="reset-form" method='POST'>{% csrf_token %}

	{{ form.as_p }}
	<button class="btn btn-success" type="submit" name="button">reset password</button>
	</form>

</div>
{% endblock %}
