{% load i18n %}{% autoescape off %}
{% blocktrans %}you are receiving this email because you requested a password reset for your account at {{ site_name }}.{% endblocktrans %}

{% trans "please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "your username, in case you've forgotten:" %} {{ user.get_username }}
{% trans "thanks for using our site!" %}

{% blocktrans %}{{ site_name }}{% endblocktrans %}
{% endautoescape %}
