{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

<div class="row">

<div class="col-md-8">
  <p><a class="btn btn-default" href="{% url 'blog:index'%}">🔙&nbsp;&nbsp;all posts</a></p>
  <hr>
  <h2>{{ posts.count }} post{{ posts.count | pluralize }} by <a href="{% url 'users:view_profile' username=author %}">{{ author }} {{ author.userprofile.emoji }}</a></h2>
<br />






{% for object in posts %}

<div class="thumbnail">

  <div class="caption post-detail-item">

    <h3><a class="link-fancy" href="{{ object.get_absolute_url }}"><span class="link-fancy" style="font-size:2em">{{ object.emoji }}</span></a><br/><a href="{{ object.get_absolute_url }}">{{ object.title }}</a> <small>{{ object.timestamp | timesince }} ago</small></h3>
    <p>by <a style="text-decoration:none;" href="{% url 'blog:author_view' username=author %}">{{ object.user.username }} {{ object.user.userprofile.emoji }}</a>&nbsp;&nbsp;&nbsp;| {% for tag in object.tags.all %}<a class="label label-default" href="{% url 'blog:tag_view' slug=tag %}">🏷&nbsp;&nbsp;{{ tag }}</a>&nbsp;{% endfor %}</p>
    <blockquote class="text-muted">{{ object.content | safe }}</blockquote>

    <p><a href="{{ object.get_absolute_url }}" class="btn btn-default" role="button">read 👓</a> {% if request.user == object.user %}<a class="btn btn-warning" href="{% url 'blog:update' slug=object.slug %}">update ✏️</a>{% endif %}&nbsp;&nbsp;{{ object.comments.count }} 💬&nbsp;&nbsp;| {{ object.likes.count }} 👍&nbsp;&nbsp;| {{ object.views }} 👀

  </div>
</div>

{% endfor %}





</div>
</div>


{% endblock %}
