<div style="text-align:center;" class="modal fade" id="myModal-login" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">please login to leave a like</h4>
      </div>
      <div class="modal-body">
        <p>
          <form method="POST" action="." >
          <div class="login-center"><a class="btn btn-success login-center" href="{% url 'accounts:login' %}?next={{ instance.get_absolute_url }}" type="submit" value="Login" >login 🔐</a></div><br/> or <a href="{% url 'accounts:register' %}">create an account</a>

          </form>
        </p>
      </div>

    </div>

  </div>
</div>
