body {
  min-height: 200px;
  padding-top: 70px;
      padding-bottom: 20px;
}

a {
  text-decoration: none;
}


.table-top {
    border-top: none !important;
}


.button-wrapper .btn {
    margin-bottom:5px;
}

.comment-reply {
	display: none;
}


.link-fancy {
  text-decoration: none;
}
