<!-- Logout Modal -->

{% load urlify %}

    <div class="modal fade" id="myModal-share" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 style="text-align:center;" class="modal-title"><span style="font-size:2em;">{{ person.user.userprofile.emoji }}</span><br /> share {{ person.user.username }}'s bucksamonth profile on social media</h4>
          </div>
          <div style="text-align:center; font-size:2em;" class="modal-body">

            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}">👩🏻📖 facebook</a><br />

                <a href="https://twitter.com/home?status={{ request.get_host }}{{ person.user.userprofile.description | truncatechars:30 | urlify }}%20{{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}">🐦🗣 twitter</a><br />


                <a href="https://plus.google.com/share?url={{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}">🔎➕ google plus </a><br />


                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}&title={{ person.user.username | urlify }}&summary={{ person.user.userprofile.description | truncatechars:50 | urlify }}&source={{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}">
                🔗💼 linkedin</a><br />


                <a href="http://www.reddit.com/submit?url={{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}&title={{ person.user.userprofile.description | urlify }}">👽👓 reddit</a>

                <hr>
                <span style="font-size:.5em;"><a href="http://{{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}">{{ request.get_host }}{% url 'users:view_profile' username=person.user.username %}</a>
                </span>




          </div>

        </div>

      </div>
    </div>
