{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}
<div class="container">



	<div class="row">
	<div class="col-md-6 well">

	<p style="font-size:4.5em; text-align:center;">{{ person.emoji }}</p>
	<p style="font-size:2em; text-align:center;">{{ person.user.username }}</p>
	<blockquote>
	<h4 class="text-muted">{{ person.description }}</h4>
	</blockquote>
	</div>

	<div class="col-md-6">
	<div style='text-align:center;'>
	<div class='col-xs-12 button-wrapper'>
	{% if not friend %}
	<a class="btn btn-primary" href="{% url 'users:add_or_remove_friends' username=person.user.username verb='add' %}">follow 👀</a>
	{% else %}
<a class="btn btn-primary" href="{% url 'users:add_or_remove_friends' username=person.user.username verb='remove' %}">following 👀</a>
	{% endif %}
		<a type="button" class="btn btn-success" href="#share" data-toggle="modal" data-target="#myModal-share">share 📤</a>
<!-- modal for share links -->
	{% include 'users/user_profile_share_links.html' %}
	<a class="btn btn-info" href="#">send message 📫</a>




	</div>
	<hr>


	<div class="col-md-6">
		<h4>bucksamonth activity</h4>
		<p><strong>{{ subscriptions.all.count }}</strong> subscriptions</p>
		<p>spending <strong>{{ bucksamonth | floatformat:"0" }}</strong> bucks a month</p>
		<p>member since 🗓 March 8, 2017</p>
		<p>account: <strong>basic</strong></p>
		<p><a href="#">👑&nbsp;&nbsp;get bucksamonth premium 💰</a></p>
	</div>
	<div class="col-md-6">

	<h4>social links</h4>
	<p>facebook 👩🏻📖&nbsp;&nbsp;<a href="https://facebook.com/">facebook.com</a></p>
	<p>twitter 🐦🗣&nbsp;&nbsp;<a href="https://twitter.com/{{ user.userprofile.twitter }}">{{ user.userprofile.twitter }}</a></p>
	<p>linkedin 🔗💼 &nbsp;&nbsp;<a href="#">linkedin.com/profile</a></p>
	<p>website 🌎🕸 &nbsp;&nbsp;<a href="#">website.com</a></p>
	<p><a href='#'>📍&nbsp;&nbsp;Washington, D.C. 🗺</a></p>
	</div>


	</div>
	</div>
	</div>






<hr>

<h3>{{ person.user.username }} spends {{ bucksamonth | floatformat:"0" }} bucksamonth</h3>

{{ user_p.emoji }}

{{ user_p.description }}
<br><br>
<table style="text-align:center;" class="table">

	<tr>
		<td><b>subscriptions</b></td>

		<td><b>🙃&nbsp;&nbsp;emoji&nbsp;🙂</b></td>

		<td><strong>💸&nbsp;&nbsp;bucksamonth 📅</strong></td>

		<td><strong>start date&nbsp;🗓</strong></td>

	</tr>

{% for subscription in subscriptions %}
<tr>

	<td class="text-center"><a href="{% url 'services:service_detail' service_slug=subscription.service.service_slug %}">{{ subscription.service }}</a></td>

	<td class="text-center">{{ subscription.service.emoji }}</td>

	<td class="text-center">{{ subscription.bucksamonth | floatformat | floatformat }}</td>

	<td>{{ subscription.date_created | date:"d-m-y" }}</td>

</tr>

{% endfor %}

{% if private > 0 %}<tr>

	<td>{{ private }} private subscription{% if private > 1 %}s{% endif %} <a href="{% url 'FAQ' %}#private">what's this? 🤔</a></td>

	<td>🙈 🙉 🙊</td>

	<td>💵💵💵</td>

	<td>📅📅📅</td>

</tr>{% endif %}

</table>
<br /><br />
<div class="container">
{% for friend_ in friends %}
{% cycle '<div class="row">' '' ''  %}
	<div style="text-align:center; text-decoration:none !important" class="col-md-4">
<p style="font-size:2em; text-align:center; text-decoration:none !important;"><a style="text-decoration:none" href="{% url 'users:view_profile' username=friend_.user.username %}">{{ friend_.emoji }}<br />{{ friend_ }}</a></p>
</div>
{% cycle '' '' '</div>' %}
{% endfor %}

<div class="row">
<h4>{{ person.user.username }} is following {{ follower_count }} user{{ follower_count | pluralize }}</h4>

{% for friend_ in user_friends %}
{% cycle '<div class="row">' '' ''  %}
<div style="text-align:center; text-decoration:none !important" class="col-md-4">
<p style="font-size:2em; text-align:center; text-decoration:none !important;"><a style="text-decoration:none" href="{% url 'users:view_profile' username=friend_.user.username %}">{{ friend_.emoji }}<br />{{ friend_ }}</a></p>
</div>
{% cycle '' '' '</div>' %}
{% endfor %}
</div>

<hr>
<div class="container">
<div class="row">
<h4>{{ person.user.username }} has {{ person.followers.count }} followers</h4>

{% for follower in person.followers.all %}
{% cycle '<div class="row">' '' ''  %}
	<div style="text-align:center; text-decoration:none !important" class="col-md-4">
<p style="font-size:2em; text-align:center; text-decoration:none !important;"><a style="text-decoration:none" href="{% url 'users:view_profile' username=follower.user.username %}">{{ follower.emoji }}<br />{{ follower }}</a></p>
</div>
{% cycle '' '' '</div>' %}
{% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}
