{% extends 'base.html' %}


{% block content %}

{% include 'nav.html' %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">

<h2>FAQ ❓🤔💭</h2>
<hr>

<h4>what is bucksamonth?</h4>
<p>bucksamonth is a service that helps you track, compare and explore all of your paid subscription services. in 2017, more and more of the services we use and things we consume are offered in the form of monthly subsbscriptions. $10 bucks a month for <a href="#">fresh vegan snacks</a> delivered to your door, $10 bucks a month for a <a href="#">new stylish T</a> every month, $11 bucks a month for <a href="#">Netflix</a>, and the list goes on. we wanted to create an easy, fun and social way to keep track of the services that define who you are, and thus bucksamonth was coded into existence!</p>
<p>in the same way that amazon provides user reviews for all of the products it sells, bucksamonth aims to provide user reviews for any paid subscription service. we also want to make subscription service recommnendations based on your current subscriptions.</p>
<hr>

<h4>how do I use bucksamonth?</h4>
<p>to get the most out of bucksamonth, add your monthly subscriptions under "<a href="#">my subscriptions</a>". You specify how many bucks a month you spend for a particular service, and you can also add a credit card nickname to keep track of how you are paying for your subscriptions.</p>
<p>if you want to hide a subscription from your public profile but still keep track of it, you can mark it as "private".</p>
<p>you can also create a wishlist for services you are interested in purchasing.</p>
<hr>

<h4>I can't find one of my subscription services on the dropdown list. can I add it?</h4>
<p>yes, you can add a new subscription service by clicking "<a href="#">add one here</a>". </p>
<hr>

<h4>what are private subscriptions?</h4><a name="private"></a>
<p>by default, all of your subscriptions are listed on <a href="#">your public bucksamonth profile</a>. a link to your profile will show up on the pages of services you are subscribed to under "subscribers" and on any comments you add to a service page.</p>
<p>when you add a subscription to your list, you have the option to make it private. private subscriptions will not show up on your profile, and your username will not show up on the subscribers list for any service to which you make your subscription private.</p>
<hr>

<h4>does bucksamonth scan my bank records to automatically find my subscriptions?</h4>
<p>no, bucksamonth does not look at your bank records. there are other apps that can do this, but it is not a feature of bucksamonth.</p>
<hr>

<h4>what is bucksamonth for business?</h4>
<p>bucksamonth for business is a beta program that gives service providers a unique way to communicate with their users and prospective users. learn more <a href="#">here</a>.</p>
</div>
</div>

{% endblock %}
