<br />
<footer style="background-color:#f8f8f8;" class="footer-distributed ">
  <div style="text-align:center;" class="container">
    <br />
  <div class="row">

    <div class="col-md-4">
        <div class="footer-left ">
            <div>
                <!-- <p>💸&nbsp;&nbsp;bucksamonth 📅&nbsp;&nbsp;&copy; 2017</p>
                <p><a href="mailto:hello@bucksamonth.com">hello@bucksamonth.com</a></p>
                <p class="text-muted"><a href="#">Legal </a>⚖</p><p><a href="#">Contact</a>&nbsp;📧</p>
                <p><span id="heart">&hearts;</span></p> -->

            </div>
        </div>
      </div>
          <div class="col-md-4">
        <div class="footer-center ">
          <p>💸&nbsp;&nbsp;bucksamonth 📅&nbsp;&nbsp;&copy; 2017</p>
          <p><a href="mailto:hello@bucksamonth.com">hello@bucksamonth.com</a></p>
          <p class="text-muted"><a href="#">Legal </a>⚖</p><p><a href="#">Contact</a>&nbsp;📧</p>
          <p><span id="heart">&hearts;</span></p>

            <div>
                <!-- <i class="fa fa-envelope fa-lg "></i> -->

            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-right ">

        </div>
      </div>
    </div>
    </div>
    <br ><br ><br ><br ><br ><br ><br ><br >
</footer>
