<br />
<footer style="background-color:#f8f8f8;" class="footer-distributed ">
  <div style="text-align:center;" class="container">
    <br />
  <div class="row">

    <div style="text-decoration:none;" class="col-md-4">
        <div class="footer-left ">
            <div>
                <p><a href="{% url 'FAQ' %}">🤔&nbsp;&nbsp;FAQ&nbsp;❓</a></p>
                <p><a href="#">🤖&nbsp;&nbsp;API&nbsp;🖥</a></p>
                <p><a href="#">💼&nbsp;&nbsp;bucksamonth for business 📈</a></p>




            </div>
        </div>
      </div>
          <div class="col-md-4">
        <div class="footer-center ">
          <p class="text-muted">💸&nbsp;&nbsp;bucksamonth 📅&nbsp;&nbsp;&copy; 2017</p>
          <p><a href="mailto:hello@bucksamonth.com">hello@bucksamonth.com</a></p>
          <p class="text-muted"><a href="#">Legal </a>⚖</p><p><a href="#">Contact</a>&nbsp;📧</p>
          <p><span id="heart">&hearts;</span></p>

            <div>
                <!-- <i class="fa fa-envelope fa-lg "></i> -->

            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-right ">
          <p class="text-muted">👀&nbsp;&nbsp;follow us 👍</p>
          <p><a href="https://facebook.com/bucksamonth">👩🏻&nbsp;&nbsp;facebook 📖</a></p>
          <p><a href="https://twitter.com/bucksamonth">🐦&nbsp;&nbsp;twitter 🗣</a></p>
          <p><a href="https://instagram.com/bucksamonth">📷&nbsp;&nbsp;instagram 🖼</a></p>
          <p><a href="#">👻&nbsp;&nbsp;snapchat 📸</a></p>

        </div>
      </div>
    </div>
    </div>
    <br ><br ><br ><br ><br ><br ><br ><br >
</footer>
