   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">💸&nbsp;&nbsp;bucksamonth 📅</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home 📍</a></li>
            <li><a href="{% url 'services:services' %}">Explore 🔭</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:logout' %}">Logout 🔓</a></li>
            <li><a href="{% url 'accounts:profile' %}">My subscriptions 📊</a></li>

            {% else %}
            <li><a href="{% url 'accounts:register' %}">Sign Up 📝</a></li>
            <li><a href="{% url 'accounts:login' %}">Login 🔑</a></li>
<!--             <li><a href="#">Your subscriptions 📊<span class="sr-only">(current)</span></a></li> -->
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>