{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}

  <span style="text-align:center"><p><a style="text-decoration:none;" href="{% url 'categories:all_categories' %}"><span style="font-size:1.5em;">all categories 🗂🗃🗄</span></a></p>
<h1>{{ category.category }}<br />{{ category.emoji }}</h1></span>




{% for service in services %}
{% cycle '<div class="row">' '' ''  %}
<div style="text-align:center;" class="col-md-4">
<a style="text-decoration:none;" href="{% url 'services:service_detail' service_slug=service.service_slug %}">
<div class="col-md-11.5 well well-sm">
    <h2>{{ service.service_name }}<br />{{ service.emoji }}</h2>
    <p><strong>{{ service.bucksamonth }} 💸📅</strong></p>
</div>
</a>
</div>
{% cycle '' '' '</div>' %}


{% endfor %}
</div>
{% endblock %}
