{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div class="container">

<h1 style="text-align:center;">{% if name %}📃📬<br />messages with {{ name }}<br />{{ name.userprofile.emoji }}{% else %}your messages<br />📃📬{% endif %}</h1>
    {% if not name %}<div style="text-align:center;"><a style="text-align:center;" class="btn btn-success" href="{% url 'accounts:new_message' %}">new message ✍️</a></div><br />
{% endif %}<br />
  <div class="row">

<div class="col-md-3">

    {% include 'user_messages/partial_conversation.html' with conversations=conversations active=active %}


</div>


<div class="col-md-9">
  {% if name %}

  <form method="POST" action=".">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="send" class="btn btn-success">
    <br />
  </form>
<br />
  {% endif %}
    {% for message in messages_ %}
    <div class="list-group">
      {% include 'user_messages/partial_message.html' with message=message %}
    </div>
    {% endfor %}
  </div>
</div>
</div>
{% endblock %}
