{% extends 'base.html' %}

{% block content %}

{% include 'nav.html' %}
<div class="container">
	<div class="col-md-8 col-md-offset-2">
	<h1 style="text-align:center;"><span style="font-size:1.5em;">{{ service.emoji }}</span><br />add <a href="{{ service.get_absolute_url }}">{{ service }}</a> to your subscription list ✅</h1>
	</br>
<form method="POST" action=''>
{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-success" type="submit">submit</button> - or - 
<a href="{% url 'accounts:profile' %}" class="btn btn-danger">cancel</a>
</form>
</div>
</div>
{% endblock %}
