{% extends 'base.html' %}

{% block page_title %}💸&nbsp;&nbsp;bucksamonth 📅{% endblock page_title %}


{% block content %}
 
{% include 'nav.html' %}



    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Welcome to bucksamonth</h1>
        <p>bucksamonth helps you track, compare and explore paid subscription services for just about anything</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Get started &raquo;</a>
        </p>
      </div>

    </div> <!-- /container -->


{% endblock %}