{% extends 'base.html' %}
{% load crispy_forms_tags %}

<script>
{% block jquery %}

$(".comment-reply-btn").click(function(event){
  event.preventDefault();
  $(this).parent().next(".comment-reply").fadeToggle();
})

{% endblock %}
</script>




{% block page_title %}

{{ instance.emoji }} {{ instance.service_name }} | 💸&nbsp;bucksamonth 📅

{% endblock %}


{% block content %}

{% include 'nav.html' %}
<div class="container">
<div class="row"><div class="container"><h1>{{ instance.service_name }} {{ instance.emoji }}</h1>

<h5>{{ instance.bucksamonth | floatformat:"0" }} bucksamonth</h5>

<a href="{{ instance.url_name }}" class="btn btn-warning">get {{ instance.service_name }}</a> {% if not user_info %}<a class="btn btn-info" href="{% url 'services:add_service_from_detail_view' service_slug=instance.service_slug %}">Add {{ instance.service_name }} to your subscription list</a>{% endif %}
</div>
</div>
<br />
{% if user.is_authenticated %}{% if user_info %}<div class="alert alert-info" style="text-align:center;">You have had <strong>{{ instance.service_name }}</strong> since <strong>{{ user_info.date_created }}</strong> ({{ user_info.date_created | timesince }} ago) <strong><a href="{% url 'accounts:subscription_update' pk=user_info.id %}">edit 🔏</a></strong></div>{% endif %}{% endif %}

<h3>{{ instance.description_short }}</h3>
<h4><a href="https://twitter.com/{{ instance.twitter }}">{{ instance.twitter }}</a></h4>
{% if instance.category.all.count > 0 %}<h5>Categories: {% if instance.category %}{% for cat in instance.category.all %}<a href="{% url 'categories:category_view' slug=cat.slug %}"><p class="label label-primary">{{ cat }}</p></a> {% endfor %}{% endif %}</h4>{% endif %}
<p>{{ instance.description_long }}<p>
<p></p>
<br>
<hr>
<h2>Subscribers (<a href="{% url 'services:service_subscribers' service_slug=instance.service_slug %}">{{ subscribers_count }}</a>)</h2>
{% for subscriber in subscribers %}
{% cycle '<div class="row">' '' ''  %}
<div style="text-align:center;" class="col-md-4">
<p style="font-size:2em;"><a href="{% url 'users:view_profile' username=subscriber.user.user.username %}">{{ subscriber.user.emoji }}<br /></a></p>
</div>
{% cycle '' '' '</div>' %}
{% endfor %}

<br />




<hr>
<div class="col-md-8">
<h2>Comments ({{ instance.comments.count }})</h2>
{% if user.is_authenticated %}
<form method="POST" action="{% url 'services:service_detail' service_slug=instance.service_slug %}">
{% csrf_token %}
{{ form }}
<br />
<button class="btn btn-success" type="submit">add comment</button>
</form>
{% else %}
<span>
please <a href="{% url 'accounts:login' %}">login</a> or <a href="{% url 'accounts:register' %}">register</a> to leave a comment
</span>
{% endif %}
<br /><br />



{% for comment in comments %}
{% if comment.is_parent %}
<blockquote>
<p><span style="font-size:1em;"><a class="link-fancy" href="{% url 'users:view_profile' username=comment.user.username %}">{{ comment.user.username }} {{ comment.user.userprofile.emoji }}</a>&nbsp;&nbsp;said:</span></p>
<p style="font-size:2em;">{{ comment.emoji }}</p>
<p>{{comment.content | linebreaks }}</p>
<small> on {{ comment.timestamp }} | <a href="#">delete 🗑</a>&nbsp;&nbsp;| <a class="comment-reply-btn" href="#">reply ↩️</a></small>

<div class='comment-reply'>
  <br />
<form method="POST" action=".">{% csrf_token %}

{{ form | crispy }}
<input type="hidden" name="parent_id" value="{{ comment.id }}"></input>
<br />
<input type="submit" value="reply ↩️" class="btn btn-default"></input>
</form>
</div>
{% endif %}

{% for reply in comment.children %}
<br />
<blockquote>
  <p><span style="font-size:1em;"><a class="link-fancy" href="{% url 'users:view_profile' username=reply.user.username %}">{{ reply.user.username }} {{ reply.user.userprofile.emoji }}</a>&nbsp;&nbsp;replied:</span></p>
  <p style="font-size:2em;">{{ reply.emoji }}</p>
  <p>{{ reply.content }}</p>
  <small>via {{ reply.user }} | {{ reply.timestamp | timesince }} ago | {% if user == reply.user %}<a href="#">delete 🗑</a>{% endif %}</small>

</blockquote>

{% endfor %}




</blockquote>







{% endfor %}

</div>






</div>
{% endblock %}
